/* Estilos CSS */
@font-face {
    font-family: Comforter+Brush;
    src: url('https://fonts.googleapis.com/css2?');
}

body {
    margin: 0;
    padding: 0;
}

.advertising {
    border: 2px solid black;
    margin-top: 1%;
    width: 100%;

}

header {
    display: flex;
    /* background-image: ; */
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2;
}

.logo {
    margin-left: 40%;
    font-size: 24px;
    font-weight: bold;
    font-size: large;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    
    align-items: center;
    padding: 30px;
    background-color: #f2f2f2;
}

.post1 {
    border: 2px solid black;
    background-color: aqua;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.post {
    width: 80%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f2f2f2;
}