@font-face {
    font-family: AlexBrush-Regular;
    src: url(Letras/AlexBrush-Regular.ttf);
}

body {
    font-family: Arial, sans-serif;
}

header {
    border: 0.125rem solid black;
    background-color: #CCD1D1;
    font-family: AlexBrush-Regular;
    font-size: 3.125rem;
    padding: 0.625rem;
    text-align: center;
}

nav ul {
    height: 1.5625rem;
    width: auto;
    font-size: 1.875rem;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 0.3125rem 0.625rem;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

main {
    padding: 1.25rem;
}

section {
    margin-bottom: 1.25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-gap: 1.25rem;
    padding: 3.125rem;
}

.grid-item1 {
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    height: 28.125rem;
    width: 99%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item2 {
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item3 {
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item4 {
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item5 {
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item6 {
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item7 {
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item2:hover {
    transform: scale(1.5);
    transition-duration: 0.9s;
    background-color: black;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.3);
}

.grid-item3:hover {
    transform: scale(1.5);
    transition-duration: 0.9s;
    background-color: black;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.3);
}

.grid-item4:hover {
    transform: scale(1.5);
    transition-duration: 0.9s;
    background-color: black;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.3);
}

.grid-item5:hover {
    transform: scale(1.5);
    transition-duration: 0.9s;
    background-color: black;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.3);
}

.grid-item6:hover {
    transform: scale(1.5);
    transition-duration: 0.9s;
    background-color: black;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.3);
}

.grid-item7:hover {
    transform: scale(1.5);
    transition-duration: 0.9s;
    background-color: black;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.3);
}

.grid-item h3 {
    margin-top: 0;
}

.leer-mas {
    align-self: center;
    margin-top: 3.75rem;
}

button {
    margin-bottom: 0.625rem;
}

.more-content {
    display: none;
    margin-top: 0.625rem;
}

footer {
    background-color: black;
    display: flex;
}

.footer-item {
    flex: 1;
    padding: 0.625rem;
    text-align: center;
}

.footer-item img {
    background-size: 100%;
    background-position: center;
    width: 6.25rem;
    max-width: 100%;
    height: auto;
}

@media (max-width: 48rem) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 30rem) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}